p {
    color:white;
}

h1 {

    text-align: center;
    color:silver;
    align-self: baseline;
    font-family: 'Allerta Stencil';
    margin-left: 20px;
    padding: 0;
    margin-top:0px; 
    margin-bottom: 0px;
    text-decoration: underline;
  
}


h2 {

    text-align: center;
    color:silver;
    align-self: baseline;
    font-family: 'Allerta Stencil';
    margin-left: 20px;
    padding: 0;
    margin-top:0px; 
    margin-bottom: 5px;
    font-size: 0.8em;
    font-style: italic;
    
  
}

div {
    align-items: center;
    align-content: center;
}


img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 400px;
   border-radius: 8px;
 

}
